# ---------------------------------------------------------------------------- #
# ---------------------- ParaBlade configuration file ------------------------ #
# ---------------------------------------------------------------------------- #

# Number of Dimensions :: 2 :: 3
# Set NDIM = 2 for two-dimensional problems
# Set NDIM = 3 for three-dimensional problems
NDIM = 2

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Number of Blades OPTIONS :: integer
N_BLADES = 50

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Number of blade sections used to create the blade OPTIONS :: integer
# The value must be at least 2 (even for 2D cases)
# Increase this value depending on the span-variation complexity of the blade
N_SECTIONS = 2

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Type of cascade OPTIONS :: LINEAR :: ANNULAR
# Set CASCADE_TYPE = ANNULAR for an a annular cascade of blades (axisymmetric)
# Set CASCADE_TYPE = LINEAR for a linear cascade of blades
CASCADE_TYPE = LINEAR

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Design variables for the meridional channel
# Set a straight horizontal line for axial flow cascades
# Set a straight vertical line for radial flow cascades
# Set an arbitrary variation for mixed flow cascade
x_leading = -0.085
y_leading = 0.0223
z_leading = 0.99, 1.01
x_trailing = 0.0845
z_trailing = 0.99, 1.01
x_hub =
z_hub =
x_shroud =
z_shroud =

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# # Design variables for a 2D section parametrization based on connecting arcs.
# PARAMETRIZATION_TYPE = CONNECTING_ARCS
# stagger = 0
# theta_in = 42
# theta_out = -42
# wedge_in = 2.00
# wedge_out = 2.00
# radius_in = 0.0035
# radius_out = 0.0035
# dist_1 = 0.65
# dist_2 = 0.5
# dist_3 = 0.5
# dist_4 = 0.65

# Design variables for a 2D section parametrization based camberline/thickness
PARAMETRIZATION_TYPE = CAMBER_THICKNESS
stagger = 0.10
theta_in = 40
theta_out = -40
radius_in = 0.0005
radius_out = 0.0005
dist_in = 0.6
dist_out = 0.6
thickness_upper_1 = 0.001
thickness_upper_2 = 0.025
thickness_upper_3 = 0.055
thickness_upper_4 = 0.055
thickness_upper_5 = 0.025
thickness_upper_6 = 0.001
thickness_lower_1 = 0.001
thickness_lower_2 = 0.007
thickness_lower_3 = 0.050
thickness_lower_4 = 0.050
thickness_lower_5 = 0.007
thickness_lower_6 = 0.001

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Plot format OPTION :: TECPLOT :: MATPLOTLIB :: INTERACTIVE
PLOT_FORMAT = INTERACTIVE

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Operation type OPTION :: GEOMETRY :: SENSITIVITY
OPERATION_TYPE = GEOMETRY

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# File with the coordinates of the blade surface
PRESCRIBED_BLADE_FILENAME = MoveSurface.txt

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #
