# ---------------------------------------------------------------------------- #
# ---------------------- ParaBlade configuration file ------------------------ #
# ---------------------------------------------------------------------------- #

# Number of Dimensions :: 2 :: 3
# Set NDIM = 2 for two-dimensional problems
# Set NDIM = 3 for three-dimensional problems
NDIM = 2

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Number of Blades OPTIONS :: integer
N_BLADES = 50

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Number of blade sections used to create the blade OPTIONS :: integer
# The value must be at least 2 (even for 2D cases)
# Increase this value depending on the span-variation complexity of the blade
N_SECTIONS = 2

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Type of cascade OPTIONS :: LINEAR :: ANNULAR
# Set CASCADE_TYPE = ANNULAR for an a annular cascade of blades (axisymmetric)
# Set CASCADE_TYPE = LINEAR for a linear cascade of blades
CASCADE_TYPE = LINEAR

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Design variables for the meridional channel
# Set a straight horizontal line for axial flow cascades
# Set a straight vertical line for radial flow cascades
# Set an arbitrary variation for mixed flow cascade
x_leading = 0.00
y_leading = 0.00
z_leading = 1.00, 2.00
x_trailing = 1.00
z_trailing = 1.00, 2.00
x_hub =
z_hub =
x_shroud =
z_shroud =

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Design variables for a 2D section parametrization based on connecting arcs.
PARAMETRIZATION_TYPE = CONNECTING_ARCS
stagger = -40
theta_in = 00
theta_out = -70
wedge_in = 25
wedge_out = 5
radius_in = 0.15
radius_out = 0.02
dist_1 = 0.35
dist_2 = 0.40
dist_3 = 0.40
dist_4 = 0.40


# # Design variables for a 2D section parametrization based camberline/thickness
# PARAMETRIZATION_TYPE = CAMBER_THICKNESS
# stagger =
# theta_in =
# theta_out =
# radius_in =
# radius_out =
# dist_in =
# dist_out =
# thickness_upper_1 =
# thickness_upper_2 =
# thickness_upper_3 =
# thickness_upper_4 =
# thickness_upper_5 =
# thickness_upper_6 =
# thickness_lower_1 =
# thickness_lower_2 =
# thickness_lower_3 =
# thickness_lower_4 =
# thickness_lower_5 =
# thickness_lower_6 =


# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Plot format OPTION :: TECPLOT :: MATPLOTLIB :: INTERACTIVE
PLOT_FORMAT = INTERACTIVE

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Operation type OPTION :: GEOMETRY :: SENSITIVITY
OPERATION_TYPE = GEOMETRY

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# File with the coordinates of the blade surface
PRESCRIBED_BLADE_FILENAME =

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #
